* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	font-family: Times New Roman;
}

a {
	border: none;
	text-decoration: none;
	color: #000;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	clear: both;
}


/*头部*/
header {
	width: 100%;
	height: 40px;
	background-color: #333;
}

/*头部左边*/
header .top {
	width: 1226px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
}

header .top .left ul li {
	float: left;
	font-size: 12px;
	color: #ccc;
}

header .top .left ul li a {
	display: block;
	padding: 0 8px;
	font-size: 12px;
	font-family: Times New Roman;
	color: #b0b0b0;
}

header .top .left ul li a:hover {
	color: white;
}

/*头部右边*/
header .top .right {
	float: right;
}

header .top .right div {
	float: right;
}

header .top .right ul li {
	float: left;
	font-size: 12px;
	color: #ccc;
}

header .top .right ul li a {
	display: block;
	padding: 0 8px;
	font-size: 12px;
	font-family: Times New Roman;
	color: #b0b0b0;
}

header .top .right ul li a:hover {
	color: white;
}

header .top .right .gouwuche a {
	color: #fff;
}

header .top .right .gouwuche {
	margin: 0 20px;
	background: #ff6700;
	width: 120px;
	text-align: center;
	font-size: 12px;
	color: #fff;
}

header .top .right .gouwuche:hover {
	color: #000;
	background: #666;
}

/*banner_x*/
.banner_x {
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}

.banner_x .logo_top {
	float: left;
	width: 50px;
	height: 100px;
	background: url('../image/logo_top.png') no-repeat center center;
}

.banner_x .yyymix {
	background: url('../image/yyymix.gif') no-repeat center center;
	width: 200px;
	height: 100px;
	float: left;
}

.banner_x .nav {
	line-height: 100px;
	float: left;
}

.banner_x .nav ul li {
	float: left;
	padding: 0 10px;
}

.banner_x .nav ul li a:hover {
	color: rgb(255, 103, 0);
}

.banner_x .search {
	float: right;
	height: 100px;
	width: 300px;
	padding-top: 22px;
}

.banner_x .search .shuru {
	width: 70%;
	height: 48px;
	float: right;
	border: 1px solid;
	font-size: 16px;
}

.banner_x .search .shuru:hover {
	border-color: rgb(255, 103, 0);
}

.banner_x .search .sousuo {
	float: right;
	width: 25%;
	height: 50px;
	line-height: 50px;
	background-color: white;
	color: white;
	text-align: center;
	color: black;
	border: none;
	font-size: 16px;
	border: 1px solid;
}

.banner_x .search .sousuo:hover {
	border-color: rgb(255, 103, 0);
}

/*banner_y*/
.banner_y {
	width: 1226px;
	height: 460px;
	background: url('../image/banner2.jpg') no-repeat;
	margin: 0 auto;
}

.banner_y .nav {
	width: 234px;
	height: 460px;
	background: rgb(12, 12, 19);
}

.banner_y .nav ul {
	padding: 20px 0;
	position: relative;
}

.banner_y .nav ul li {
	display: block;
	width: 174px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding: 0 30px;
}

.banner_y .nav ul li a {
	color: white;
}

.banner_y .nav ul li .pop {
	width: 800px;
	height: 460px;
	background: #fff;
	position: absolute;
	left: 234px;
	top: 0px;
	display: none;
}

.banner_y .nav ul li:hover {
	background-color: rgb(255, 103, 0);
}

.banner_y .nav ul li:hover .pop {
	display: block;
	box-shadow: 2px 3px 5px #ccc;
	border-top: 1px solid #ccc;
}

.banner_y .nav ul li .pop .left {
	width: 265px;
	height: 460px;
	background: #fff;
}

.banner_y .nav ul li .pop .left div {
	margin-bottom: 3px;
}

.banner_y .nav ul li .pop .left .xuangou_left {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	margin-left: 20px;
	margin-top: 20px;
	width: 150px;
}

.banner_y .nav ul li .pop .left .xuangou_left a {
	color: #000;
}

.banner_y .nav ul li .pop .left .xuangou_left a span {
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
}

.banner_y .nav ul li .pop .left .xuangou_right {
	margin-top: 25px;
	height: 26px;
	line-height: 27px;
}

.banner_y .nav ul li .pop .left .xuangou_right a {
	display: block;
	width: 60px;
	line-height: 24px;
	height: 24px;
	text-align: center;
	font-size: 12px;
	color: #ff6700;
	border: 1px solid #ff6700;
}

.banner_y .nav ul li .pop .left .xuangou_right a:hover {
	display: block;
	background: #ff6700;
	color: #fff;
}

.banner_y .nav ul li .pop .ctn {
	width: 265px;
	height: 460px;
	background: #fff;
}

.banner_y .nav ul li .pop .ctn div {
	margin-bottom: 3px;
}

.banner_y .nav ul li .pop .ctn .xuangou_left {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	margin-left: 20px;
	margin-top: 20px;
	width: 150px;
}

.banner_y .nav ul li .pop .ctn .xuangou_left a {
	color: #000;
}

.banner_y .nav ul li .pop .ctn .xuangou_left a span {
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
}

.banner_y .nav ul li .pop .ctn .xuangou_right {
	margin-top: 25px;
	height: 26px;
	line-height: 27px;
}

.banner_y .nav ul li .pop .ctn .xuangou_right a {
	display: block;
	width: 60px;
	line-height: 24px;
	height: 24px;
	text-align: center;
	font-size: 12px;
	color: #ff6700;
	border: 1px solid #ff6700;
}

.banner_y .nav ul li .pop .ctn .xuangou_right a:hover {
	display: block;
	background: #ff6700;
	color: #fff;
}

.banner_y .nav ul li .pop .right {
	width: 265px;
	height: 460px;
	background: #fff;
}

.banner_y .nav ul li .pop .right div {
	margin-bottom: 3px;
}

.banner_y .nav ul li .pop .right .xuangou_left {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	margin-left: 20px;
	margin-top: 20px;
	width: 180px;
}

.banner_y .nav ul li .pop .right .xuangou_left a {
	color: #000;
}

.banner_y .nav ul li .pop .right .xuangou_left a span {
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
}

.banner_y .nav ul li .pop .right .xuangou_right {
	margin-top: 25px;
	height: 26px;
	line-height: 27px;
}

.banner_y .nav ul li .pop .right .xuangou_right a {
	display: block;
	width: 60px;
	line-height: 24px;
	height: 24px;
	text-align: center;
	font-size: 12px;
	color: #ff6700;
	border: 1px solid #ff6700;
}

.banner_y .nav ul li .pop .right .xuangou_right a:hover {
	display: block;
	background: #ff6700;
	color: #fff;
}

/*sub_banner*/
.sub_banner {
	width: 1226px;
	height: 170px;
	margin: 15px auto;
}

.sub_banner .sidebar {
	width: 234px;
	height: 170px;
}

.sub_banner .sidebar div {
	width: 78px;
	height: 85px;
	padding: 0;
	margin: 0;
}

.sub_banner .sidebar div img {
	opacity: 0.8;
}

.sub_banner .sidebar div img:hover {
	opacity: 1;
}

.sub_banner .datu {
	width: 316px;
	height: 170px;
	margin-left: 14px;
}

.sub_banner .datu img {
	width: 316px;
	height: 170px;
	opacity: 0.8;
}

.sub_banner .datu img:hover {
	opacity: 1;
}

/*danpin*/
.danpin {
	width: 1226px;
	margin: 0px auto;
}

.danpin .biaoti {
	width: 1226px;
	margin: 0px auto;
	font-size: 22px;
	font-weight: bold;
	height: 58px;
	line-height: 58px;
}

.danpin .main {
	width: 1226px;
	margin: 0 auto;
	height: 340px;
}

.danpin .main .mingxing {
	width: 234px;
	height: 339px;
	background: rgb(250, 250, 250);
}

.danpin .main .mingxing:nth-of-type(1) {
	border-top: 1px solid orange;
	margin-right: 14px;
}

.danpin .main .mingxing:nth-of-type(2) {
	border-top: 1px solid green;
	margin-right: 14px;
}

.danpin .main .mingxing:nth-of-type(3) {
	border-top: 1px solid blue;
	margin-right: 14px;
}

.danpin .main .mingxing:nth-of-type(4) {
	border-top: 1px solid red;
	margin-right: 14px;
}

.danpin .main .mingxing:nth-of-type(5) {
	border-top: 1px solid teal;
}

.danpin .main .mingxing .sub_mingxing {
	padding: 37px;
}

.danpin .main .mingxing .sub_mingxing a img {
	width: 160px;
	height: 160px;
}

.danpin .main .mingxing .sub_mingxing a img:hover {
	opacity: 0.8;
}

.danpin .main .mingxing .pinpai {
	width: 234px;
	height: 14px;
	text-align: center;
	line-height: 14px;
}

.danpin .main .mingxing .pinpai a {
	font-size: 14px;
	color: #333333;
}

.danpin .main .mingxing .youhui {
	color: #B0B0B0;
	font-size: 12px;
	width: 234px;
	height: 14px;
	text-align: center;
	line-height: 14px;
	margin: 12px 0px;
}

.danpin .main .mingxing .jiage {
	text-align: center;
	color: #ff6709;
	font-size: 14px;
}

/*peijian*/
.peijian {
	width: 1226px;
	margin: 30px auto;
	background: rgb(245, 245, 245);
}

.peijian .biaoti {
	width: 1226px;
	margin: 0px auto;
	font-size: 22px;
	font-weight: bold;
	height: 58px;
	line-height: 58px;
}

.peijian .main {
	width: 1226px;
	margin: 0px auto;
	height: 614px;
}

.peijian .main .content {
	height: 300px;
	width: 1226px;
}

.peijian .main .content .remen {
	width: 234px;
	height: 300px;
	margin-right: 14px;
	background: #fff;
}

.peijian .main .content .remen:hover {
	margin-top: -2px;
	box-shadow: 0 0 30px #ccc;
}

.peijian .main .content .remen:nth-of-type(5) {
	margin: 0;
}

.peijian .main .content .remen .xinpin span {
	display: block;
	margin: 0 auto;
	font-size: 10px;
	line-height: 20px;
	height: 20px;
	color: #fff;
	width: 65px;
	background: #83c44e;
	text-align: center;
}

.peijian .main .content .remen .tu a img {
	margin: 10px 42px 20px 42px;
}

.peijian .main .content .remen .miaoshu {
	width: 234px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	overflow: hidden;
}

.peijian .main .content .remen .miaoshu a {
	color: #000;
	font-size: 14px;
}

.peijian .main .content .remen .jiage {
	color: #ff6700;
	font-size: 14px;
	text-align: center;
	width: 234px;
	height: 25px;
	line-height: 25px;
}

.peijian .main .content .remen .pingjia {
	width: 234px;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	color: #aaa;
	text-align: center;
}

.peijian .main .content .remen .piao {
	width: 204px;
	height: 60px;
	font-size: 12px;
	padding: 10px 0px 0px 30px;
	background: #ff6700;
	position: absolute;
	display: none;
}

.peijian .main .content .remen .piao a {
	color: #fff;
}

.peijian .main .content .remen .piao span {
	display: block;
	margin-top: 5px;
}

.peijian .main .content .remen:hover .piao {
	display: block;
	margin-top: -40px;
}

.peijian .main .content:nth-of-type(2) {
	margin-top: 14px;
}

.hongmi:hover {
	margin-top: -2px;
	box-shadow: 0 0 15px #ccc;
}

.liulangengduo {
	margin-top: 12px;
}

.liulangengduo:hover {
	margin-top: 10px;
	box-shadow: 0px 0px 30px #ccc;
}

/*dibu*/
.dibu {
	width: 100%;
	height: 120px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	background: rgb(250, 250, 250);
	padding: 30px 0;
}
